.fill-primary{
    fill: $primary;
}
.fill-secondary{
    fill: $secondary;
}
.fill-accent{
    fill: $accent;
}
.fill-dark{
    fill: $dark;
}
.fill-positive{
    fill: $positive;
}
.fill-negative{
    fill: $negative;
}