@font-face {
  font-family: montserrat;
  src: url("@/assets/fonts/montserrat/default.ttf");
  font-weight: normal;
}
@font-face {
  font-family: montserrat-italic;
  src: url("@/assets/fonts/montserrat/italic.ttf");
  font-weight: italic;
}

.montserrat{
    font-family: montserrat;
}
.montserrat-italic{
    font-family: montserrat-italic;
}