// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #ff7f00;
$secondary: #f5f7fb;
$accent: #4f4f4f;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #ff0000;
$info: #31ccec;
$warning: #f2c037;

@import "~quasar-variables-styl";
@import "./shadow-classes.scss";
@import "./fill-classes.scss";
