// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #ff7f00;
$secondary: #f5f7fb;
$accent: #4F4F4F;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #ff0000;
$info: #31ccec;
$warning: #f2c037;

@import "~quasar-variables-styl";

.shadow-box{
    box-shadow: 0 5px 5px #00000020 ;
}
.shadow-drop{
    filter: drop-shadow(0px 2px 2px #00000011);
}   
.shadow-text{

}
.fill-primary{
    fill: $primary;
}
.fill-secondary{
    fill: $secondary;
}
.fill-accent{
    fill: $accent;
}
.fill-dark{
    fill: $dark;
}
.fill-positive{
    fill: $positive;
}
.fill-negative{
    fill: $negative;
}